<nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle">
        <i class="hamburger align-self-center"></i>
    </a>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">
            <li class="nav-item dropdown">
                {% if user.is_authenticated %}
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Добро пожаловать,
                        {% if user.first_name == "" %}
                            {{ user.username }}
                        {% else %}
                            {{ user.first_name }}
                        {% endif %}
                        !
                    </a>
                    <div class="dropdown-menu dropdown-menu-left dropdown-mega"
                         aria-labelledby="servicesDropdown">
                        <div class="d-md-flex align-items-start justify-content-start">
                            <div class="dropdown-mega-list">
                                <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </li>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <li class="nav-item dropdown">
                <a class="btn btn-outline-primary" href="{% url 'main_lk' %}" id="messagesDropdown">
                    <div class="position-relative">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"></path>
                            <path fill-rule="evenodd"
                                  d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
                        </svg>
                        Личный кабинет
                    </div>
                </a>
            </li>
        </ul>
    </div>
</nav>