<nav id="sidebar" class="sidebar">
    <div class="sidebar-content js-simplebar" data-simplebar="init">
        <div class="simplebar-wrapper" style="margin: 0px;">
            <div class="simplebar-height-auto-observer-wrapper">
                <div class="simplebar-height-auto-observer"></div>
            </div>
            <div class="simplebar-mask">
                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                    <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
                        <div id="selectBackground" class="simplebar-content" style="padding: 0px;">
                            <a class="sidebar-brand" href="{% url 'index' %}">
                                <span class="align-middle mr-3">Алтайская электросетевая компания</span>
                            </a>
                            <ul class="sidebar-nav">
                                <li id="glavnaya" class="sidebar-item">
                                    <a href="{% url 'index' %}" class="sidebar-link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-house-door" viewBox="0 0 16 16">
                                            <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
                                        </svg>
                                        <span class="align-middle">Главная страница</span>
                                    </a>
                                </li>
                                <li id="kontakty_i_rekvizity" class="sidebar-item">
                                    <a href="{% url 'kontakty_i_rekvizity' %}" class="sidebar-link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-info-square" viewBox="0 0 16 16">
                                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                            <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                        </svg>
                                        <span class="align-middle">Контакты и реквизиты</span>
                                    </a>
                                </li>
                                <li class="sidebar-header">
                                    Потребителям
                                </li>
                                <li id="territoriya_obsluzhivaniya_setevoj_organizacii_vision" class="sidebar-item">
                                    <a href="#territoriya_obsluzhivaniya_setevoj_organizacii" data-toggle="collapse"
                                       class="sidebar-link collapsed">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-map" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98l4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z"/>
                                        </svg>
                                        <span class="align-middle">Территория обслуживания &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;сетевой организации</span>
                                    </a>
                                    <ul id="territoriya_obsluzhivaniya_setevoj_organizacii"
                                        class="sidebar-dropdown list-unstyled collapse"
                                        data-parent="#sidebar">
                                        <li id="obshchaya_informaciya" class="sidebar-item"><a class="sidebar-link"
                                                                                               href="{% url 'potr_ter_obsl_so_obshchaya_informaciya' %}">Общая
                                            информация</a>
                                        </li>
                                        <li id="tekhnicheskoe_sostoyanie_setej" class="sidebar-item"><a
                                                class="sidebar-link"
                                                href="{% url 'potr_ter_obsl_so_tekhnicheskoe_sostoyanie_setej' %}">Техническое
                                            состояние
                                            сетей</a></li>
                                    </ul>
                                </li>
                                <li id="peredacha_elektricheskoj_energii_vision" class="sidebar-item">
                                    <a href="#peredacha_elektricheskoj_energii" data-toggle="collapse"
                                       class="sidebar-link collapsed"
                                       aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-lightning" viewBox="0 0 16 16">
                                            <path d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5zM6.374 1L4.168 8.5H7.5a.5.5 0 0 1 .478.647L6.78 13.04 11.478 7H8a.5.5 0 0 1-.474-.658L9.306 1H6.374z"/>
                                        </svg>
                                        <span class="align-middle">Передача электрической &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;энергии</span>
                                    </a>
                                    <ul id="peredacha_elektricheskoj_energii"
                                        class="sidebar-dropdown list-unstyled collapse"
                                        data-parent="#sidebar" style="">
                                        <li id="obshchaya_informaciya_o_peredache_elektricheskoj_energii"
                                            class="sidebar-item"><a class="sidebar-link"
                                                                    href="{% url 'potr_peredacha_ee_obshchaya_informaciya_o_peredache_elektricheskoj_energii' %}">Общая
                                            информация о
                                            передаче электрической энергии</a></li>
                                        <li id="normativnye_dokumenty" class="sidebar-item"><a class="sidebar-link"
                                                                                               href="{% url 'potr_peredacha_ee_normativnye_dokumenty' %}">Нормативные
                                            документы</a></li>
                                        <li id="pasporta_uslug_processov" class="sidebar-item"><a
                                                class="sidebar-link"
                                                href="{% url 'potr_peredacha_ee_pasporta_uslug_processov' %}">Паспорта
                                            услуг
                                            (процессов)</a></li>
                                        <li id="tipovye_formy_dokumentov" class="sidebar-item"><a
                                                class="sidebar-link"
                                                href="{% url 'potr_peredacha_ee_tipovye_formy_dokumentov' %}">Типовые
                                            формы
                                            документов</a></li>
                                        <li id="tarify_na_uslugi_po_peredache_elektricheskoj_energii"
                                            class="sidebar-item"><a class="sidebar-link"
                                                                    href="{% url 'potr_peredacha_ee_tarify_na_uslugi_po_peredache_elektricheskoj_energii' %}">Тарифы
                                            на
                                            услуги по
                                            передаче электрической энергии</a></li>
                                        <li id="balans_elektricheskoj_energii_i_moshchnosti" class="sidebar-item"><a
                                                class="sidebar-link"
                                                href="{% url 'potr_peredacha_ee_balans_elektricheskoj_energii_i_moshchnosti' %}">Баланс
                                            электрической
                                            энергии и мощности</a></li>
                                        <li id="zatraty_na_oplatu_poter" class="sidebar-item"><a
                                                class="sidebar-link"
                                                href="{% url 'potr_peredacha_ee_zatraty_na_oplatu_poter' %}">Затраты
                                            на
                                            оплату
                                            потерь</a></li>
                                    </ul>
                                </li>
                                <li id="tekhnologicheskoe_prisoedinenie_vision" class="sidebar-item">
                                    <a href="#tekhnologicheskoe_prisoedinenie" data-toggle="collapse"
                                       class="sidebar-link collapsed"
                                       aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-wrench" viewBox="0 0 16 16">
                                            <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019l.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>
                                        </svg>
                                        <span class="align-middle">Технологическое &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;присоединение</span>
                                    </a>
                                    <ul id="tekhnologicheskoe_prisoedinenie"
                                        class="sidebar-dropdown list-unstyled collapse"
                                        data-parent="#sidebar" style="">
                                        <li id="obshchaya_informaciya_o_tekhnologicheskom_prisoedinenii"
                                            class="sidebar-item"><a class="sidebar-link"
                                                                    href="{% url 'potr_tp_obshchaya_informaciya_o_tekhnologicheskom_prisoedinenii' %}">Общая
                                            информация о
                                            технологическом присоединении</a></li>
                                        <li id="normativnye_dokumenty_o_tekhnologicheskom_prisoedinenii"
                                            class="sidebar-item"><a class="sidebar-link"
                                                                    href="{% url 'potr_tp_normativnye_dokumenty_o_tekhnologicheskom_prisoedinenii' %}">Нормативные
                                            документы</a></li>
                                        <li id="pasporta_uslug_processov_o_tekhnologicheskom_prisoedinenii"
                                            class="sidebar-item"><a class="sidebar-link"
                                                                    href="{% url 'potr_tp_pasporta_uslug_processov_o_tekhnologicheskom_prisoedinenii' %}">Паспорта
                                            услуг
                                            (процессов)</a></li>
                                        <li id="poryadok_vypolneniya_meropriyatij_svyazannyh_s_prisoedineniem_k_setyam"
                                            class="sidebar-item"><a class="sidebar-link"
                                                                    href="{% url 'potr_tp_poryadok_vypolneniya_meropriyatij_svyazannyh_s_prisoedineniem_k_setyam' %}">Порядок
                                            выполнения
                                            мероприятий, связанных с присоединением к сетям</a></li>
                                        <li id="tipovye_formy_dokumentov_o_tekhnologicheskom_prisoedinenii"
                                            class="sidebar-item"><a class="sidebar-link"
                                                                    href="{% url 'potr_tp_tipovye_formy_dokumentov_o_tekhnologicheskom_prisoedinenii' %}">Типовые
                                            формы
                                            документов</a></li>
                                        <li id="tarify_na_tekhnologicheskoe_prisoedinenie" class="sidebar-item"><a
                                                class="sidebar-link"
                                                href="{% url 'potr_tp_tarify_na_tekhnologicheskoe_prisoedinenie' %}">Тарифы
                                            на
                                            технологическое присоединение</a></li>
                                        <li id="svedeniya_o_nalichii_moshchnosti_svobodnoj_dlya_tekhnologicheskogo_prisoedineniya"
                                            class="sidebar-item"><a class="sidebar-link"
                                                                    href="{% url 'potr_tp_svedeniya_o_nalichii_moshchnosti' %}">Сведения
                                            о наличии
                                            мощности, свободной для технологического присоединения</a></li>
                                        <li id="svedeniya_o_podannyh_zayavkah_na_tekhnologicheskoe_prisoedinenie_zaklyuchennyh_dogovorah_i_vypolnennyh_prisoedineniyah"
                                            class="sidebar-item"><a class="sidebar-link"
                                                                    href="{% url 'potr_tp_svedeniya_o_podannyh_zayavkah_na_tp' %}">Сведения
                                            о
                                            поданных
                                            заявках на технологическое присоединение, заключенных договорах и
                                            выполненных присоединениях</a></li>
                                    </ul>
                                </li>
                                <li id="kommercheskij_uchet_vision" class="sidebar-item">
                                    <a href="#kommercheskij_uchet" data-toggle="collapse" class="sidebar-link collapsed"
                                       aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-calculator" viewBox="0 0 16 16">
                                            <path d="M12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                                            <path d="M4 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-2zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-4z"/>
                                        </svg>
                                        <span class="align-middle">Коммерческий учет &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;электрической энергии</span>
                                    </a>
                                    <ul id="kommercheskij_uchet" class="sidebar-dropdown list-unstyled collapse"
                                        data-parent="#sidebar" style="">
                                        <li id="obshchaya_informaciya_o_kommercheskom_uchete_elektricheskoj_energii"
                                            class="sidebar-item"><a class="sidebar-link"
                                                                    href="{% url 'potr_kom_uchet_ee_obshchaya_informaciya' %}">Общая
                                            информация</a>
                                        </li>
                                        <li id="normativnye_dokumenty_o_kommercheskom_uchete_elektricheskoj_energii"
                                            class="sidebar-item"><a class="sidebar-link"
                                                                    href="{% url 'potr_kom_uchet_ee_obshchaya_normativnye_dokumenty' %}">Нормативные
                                            документы</a></li>
                                        <li id="pasporta_processov_o_kommercheskom_uchete_elektricheskoj_energii"
                                            class="sidebar-item"><a class="sidebar-link"
                                                                    href="{% url 'potr_kom_uchet_ee_obshchaya_pasporta_processov' %}">Паспорта
                                            процессов</a>
                                        </li>
                                        <li id="tipovye_formy_dokumentov_o_kommercheskom_uchete_elektricheskoj_energii"
                                            class="sidebar-item"><a class="sidebar-link"
                                                                    href="{% url 'potr_kom_uchet_ee_obshchaya_tipovye_formy_dokumentov' %}">Типовые
                                            формы
                                            документов</a></li>
                                        <li id="rebovaniya_k_organizacii_ucheta" class="sidebar-item"><a
                                                class="sidebar-link"
                                                href="{% url 'potr_kom_uchet_ee_obshchaya_trebovaniya_k_organizacii_ucheta' %}">Требования
                                            к
                                            организации учета</a></li>
                                    </ul>
                                </li>
                                <li id="obsluzhivanie_potrebitelej_vision" class="sidebar-item">
                                    <a href="#obsluzhivanie_potrebitelej" data-toggle="collapse"
                                       class="sidebar-link collapsed"
                                       aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                                            <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
                                        </svg>
                                        <span class="align-middle">Обслуживание &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;потребителей</span>
                                    </a>
                                    <ul id="obsluzhivanie_potrebitelej" class="sidebar-dropdown list-unstyled collapse"
                                        data-parent="#sidebar" style="">
                                        <li id="ofisy_obsluzhivaniya_potrebitelej" class="sidebar-item"><a
                                                class="sidebar-link"
                                                href="{% url 'obsl_potr_ofisy_obsluzhivaniya_potrebitelej' %}">Офисы
                                            обслуживания
                                            потребителей</a></li>
                                        <li id="zaochnoe_obsluzhivanie_posredstvom_telefonnoj_svyazi"
                                            class="sidebar-item"><a class="sidebar-link"
                                                                    href="{% url 'obsl_potr_zaochnoe_obsluzhivanie_posredstvom_telefonnoj_svyazi' %}">Заочное
                                            обслуживание
                                            посредством телефонной связи (Единый центр обработки вызовов)</a></li>
                                        <li id="interaktivnaya_obratnaya_svyaz" class="sidebar-item"><a
                                                class="sidebar-link"
                                                href="{% url 'obsl_potr_interaktivnaya_obratnaya_svyaz' %}">Интерактивная
                                            обратная
                                            связь (интернет-приемная)</a></li>
                                        <li id="normativnye_dokumenty_po_obsluzhivaniyu_potrebitelej"
                                            class="sidebar-item"><a class="sidebar-link"
                                                                    href="{% url 'obsl_potr_normativnye_dokumenty_po_obsluzhivaniyu_potrebitelej' %}">Нормативные
                                            документы</a></li>
                                        <li id="lichnyj_kabinet_potrebitelya" class="sidebar-item"><a
                                                class="sidebar-link"
                                                href="{% url 'main_lk' %}">Личный кабинет
                                            потребителя</a></li>
                                        <li id="voprosy_i_otvety" class="sidebar-item"><a class="sidebar-link"
                                                                                          href="{% url 'obsl_potr_voprosy_i_otvety' %}">Вопросы
                                            и
                                            ответы</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="sidebar-header">
                                    Раскрытие информации
                                </li>
                                <li id="raskrytie_informacii_finansovaya_pokazateli_vision"
                                    class="sidebar-item">
                                    <a href="#raskrytie_informacii_finansovaya_pokazateli" data-toggle="collapse"
                                       class="sidebar-link collapsed">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16">
                                            <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1H1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                                            <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2H3z"/>
                                        </svg>
                                        <span class="align-middle">Финансовые показатели</span>
                                    </a>
                                    <ul id="raskrytie_informacii_finansovaya_pokazateli"
                                        class="sidebar-dropdown list-unstyled collapse"
                                        data-parent="#sidebar">
                                        <li id="godovaya_finansovaya_otchetnost" class="sidebar-item">
                                            <a href="{% url 'raskr_inf_godovaya_finansovaya_otchetnost' %}"
                                               class="sidebar-link">
                                                Финансовая отчетность
                                            </a>
                                        </li>
                                        <li id="struktura_i_obem_zatrat" class="sidebar-item">
                                            <a href="{% url 'raskr_inf_struktura_i_obem_zatrat' %}"
                                               class="sidebar-link">
                                                Структура и объем затрат
                                            </a>
                                        </li>
                                        <li id="metod_dohodnosti_investirovannogo_kapitala" class="sidebar-item">
                                            <a href="{% url 'raskr_inf_metod_dohodnosti_investirovannogo_kapitala' %}"
                                               class="sidebar-link">
                                                Метод доходности инвестированного капитала
                                            </a>
                                        </li>
                                        <li id="predlozheniya_o_razmere_cen" class="sidebar-item">
                                            <a href="{% url 'raskr_inf_predlozheniya_o_razmere_cen' %}"
                                               class="sidebar-link">
                                                Предложения о размере цен
                                            </a>
                                        </li>
                                        <li id="investicionnye_programmy" class="sidebar-item">
                                            <a class="sidebar-link"
                                               href="{% url 'raskr_inf_investicionnye_programmy' %}">
                                                Инвестиционные программы
                                            </a>
                                        </li>
                                        <li id="otchety_o_realizacii_investicionnyh_programm" class="sidebar-item">
                                            <a class="sidebar-link"
                                               href="{% url 'raskr_inf_otchety_o_realizacii_investicionnyh_programm' %}">
                                                Отчеты о реализации инвестиционных программ
                                            </a>
                                        </li>
                                        <li id="priobretenii_tovarov_dlya_okazaniya_uslug"
                                            class="sidebar-item">
                                            <a class="sidebar-link"
                                               href="{% url 'raskr_inf_priobretenii_tovarov_dlya_okazaniya_uslug' %}">
                                                Приобретении товаров для оказания услуг
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="raskrytie_informacii_peredacha_elektricheskoj_energii_vision"
                                    class="sidebar-item">
                                    <a href="#raskrytie_informacii_peredacha_elektricheskoj_energii"
                                       data-toggle="collapse"
                                       class="sidebar-link collapsed">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-lightning" viewBox="0 0 16 16">
                                            <path d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5zM6.374 1L4.168 8.5H7.5a.5.5 0 0 1 .478.647L6.78 13.04 11.478 7H8a.5.5 0 0 1-.474-.658L9.306 1H6.374z"/>
                                        </svg>
                                        <span class="align-middle">Передача электрической &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;энергии</span>
                                    </a>
                                    <ul id="raskrytie_informacii_peredacha_elektricheskoj_energii"
                                        class="sidebar-dropdown list-unstyled collapse"
                                        data-parent="#sidebar">
                                        <li id="tarify_na_uslugi_po_peredache_elektroenergii"
                                            class="sidebar-item">
                                            <a href="{% url 'raskr_inf_peredacha_ee_tarify_na_uslugi_po_peredache_elektroenergii' %}"
                                               class="sidebar-link">
                                                Тарифы на услуги по передаче электроэнергии
                                            </a>
                                        </li>
                                        <li id="osnovnye_potrebitelskie_harakteristiki"
                                            class="sidebar-item">
                                            <a class="sidebar-link"
                                               href="{% url 'raskr_inf_peredacha_ee_osnovnye_potrebitelskie_harakteristiki' %}">
                                                Основные потребительские характеристики
                                            </a>
                                        </li>
                                        <li id="usloviya_postavki_reguliruemyh_uslug_ri"
                                            class="sidebar-item">
                                            <a class="sidebar-link"
                                               href="{% url 'raskr_inf_peredacha_ee_usloviya_postavki_reguliruemyh_uslug' %}">
                                                Условия поставки регулируемых услуг
                                            </a>
                                        </li>
                                        <li id="pasporta_uslug_pe" class="sidebar-item">
                                            <a class="sidebar-link"
                                               href="{% url 'raskr_inf_peredacha_ee_pasporta_uslug' %}">
                                                Паспорта услуг
                                            </a>
                                        </li>
                                        <li id="obem_i_stoimost_poter"
                                            class="sidebar-item">
                                            <a class="sidebar-link"
                                               href="{% url 'raskr_inf_peredacha_ee_obem_i_stoimost_poter' %}">
                                                Объем и стоимость потерь
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="raskrytie_informacii_tekhnologicheskoe_prisoedinenie_vision"
                                    class="sidebar-item">
                                    <a href="#raskrytie_informacii_tekhnologicheskoe_prisoedinenie"
                                       data-toggle="collapse"
                                       class="sidebar-link collapsed">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-wrench" viewBox="0 0 16 16">
                                            <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019l.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>
                                        </svg>
                                        <span class="align-middle">Технологическое &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;присоединение</span>
                                    </a>
                                    <ul id="raskrytie_informacii_tekhnologicheskoe_prisoedinenie"
                                        class="sidebar-dropdown list-unstyled collapse"
                                        data-parent="#sidebar">
                                        <li id="tarify_na_tekhnologicheskoe_prisoedinenie_ri" class="sidebar-item">
                                            <a href="{% url 'raskr_inf_tp_tarify_na_tekhnologicheskoe_prisoedinenie' %}"
                                               class="sidebar-link">
                                                Тарифы на технологическое присоединение
                                            </a>
                                        </li>
                                        <li id="raskhody_na_tekhnologicheskoe_prisoedinenie_ne_vklyuchaemye_v_platu"
                                            class="sidebar-item">
                                            <a class="sidebar-link"
                                               href="{% url 'raskr_inf_raskhody_na_tekhnologicheskoe_prisoedinenie_ne_vklyuchaemye_v_platu' %}">
                                                Расходы на тех. присоединение,
                                                не включаемые в плату
                                            </a>
                                        </li>
                                        <li id="raskhody_na_stroitelstvo_obektov_elektrosetevogo_hozyajstva"
                                            class="sidebar-item">
                                            <a class="sidebar-link"
                                               href="{% url 'raskr_inf_raskhody_na_stroitelstvo_obektov_elektrosetevogo_hozyajstva' %}">
                                                Расходы на строительство объектов
                                                электросетевого хозяйства
                                            </a>
                                        </li>
                                        <li id="osnovnye_potrebitelskie_harakteristiki_tp"
                                            class="sidebar-item">
                                            <a class="sidebar-link"
                                               href="{% url 'raskr_inf_tp_osnovnye_potrebitelskie_harakteristiki' %}">
                                                Основные потребительские характеристики
                                            </a>
                                        </li>
                                        <li id="dostup_k_reguliruemym_uslugam"
                                            class="sidebar-item">
                                            <a class="sidebar-link"
                                               href="{% url 'raskr_inf_dostup_k_reguliruemym_uslugam' %}">
                                                Доступ к регулируемым услугам
                                            </a>
                                        </li>
                                        <li id="velichina_rezerviruemoj_maksimalnoj_moshchnosti" class="sidebar-item">
                                            <a class="sidebar-link"
                                               href="{% url 'raskr_inf_velichina_rezerviruemoj_maksimalnoj_moshchnosti' %}">
                                                Величина резервируемой максимальной мощности
                                            </a>
                                        </li>
                                        <li id="rezultaty_kontrolnyh_zamerov"
                                            class="sidebar-item">
                                            <a class="sidebar-link"
                                               href="{% url 'raskr_inf_rezultaty_kontrolnyh_zamerov' %}">
                                                Результаты контрольных замеров
                                            </a>
                                        </li>
                                        <li id="usloviya_postavki_reguliruemyh_uslug"
                                            class="sidebar-item">
                                            <a class="sidebar-link"
                                               href="{% url 'raskr_inf_tp_usloviya_postavki_reguliruemyh_uslug' %}">
                                                Условия поставки регулируемых услуг
                                            </a>
                                        </li>
                                        <li id="poryadok_vypolneniya_tekhnologicheskih_tekhnicheskih"
                                            class="sidebar-item">
                                            <a class="sidebar-link"
                                               href="{% url 'raskr_inf_poryadok_vypolneniya_tekhnologicheskih_tekhnicheskih' %}">
                                                Порядок выполнения тех. присоединения
                                            </a>
                                        </li>
                                        <li id="vozmozhnost_tekhnologicheskogo_prisoedineniya"
                                            class="sidebar-item">
                                            <a class="sidebar-link"
                                               href="{% url 'raskr_inf_vozmozhnost_tekhnologicheskogo_prisoedineniya' %}">
                                                Возможность тех. присоединения
                                            </a>
                                        </li>
                                        <li id="osnovnye_etapi_tekhnologicheskogo_prisoedineniya"
                                            class="sidebar-item">
                                            <a class="sidebar-link"
                                               href="{% url 'raskr_inf_osnovnye_etapi_tekhnologicheskogo_prisoedineniya' %}">
                                                Основные этапы тех. присоединения
                                            </a>
                                        </li>
                                        <li id="pasporta_uslug_tp" class="sidebar-item">
                                            <a class="sidebar-link" href="{% url 'raskr_inf_tp_pasporta_uslug' %}">
                                                Паспортах услуг
                                            </a>
                                        </li>
                                        <li id="lica_namerevayushchihsya_pereraspredelit_maksimalnuyu_moshchnost"
                                            class="sidebar-item">
                                            <a class="sidebar-link"
                                               href="{% url 'raskr_inf_lica_namerevayushchihsya_pereraspredelit_maksimalnuyu_moshchnost' %}">
                                                Лица, намеревающиеся перераспределить максимальную мощность
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="kachestvo_obsluzhivaniya_potrebitelej_uslug"
                                    class="sidebar-item">
                                    <a class="sidebar-link"
                                       href="{% url 'raskr_inf_kachestvo_obsluzhivaniya_potrebitelej_uslug' %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                                            <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
                                        </svg>
                                        <span class="align-middle">Качество обслуживания &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;потребителей услуг</span>

                                    </a>
                                </li>
                                <li id="vydelennye_abonentskih_nomerah"
                                    class="sidebar-item">
                                    <a class="sidebar-link"
                                       href="{% url 'raskr_inf_vydelennye_abonentskih_nomerah' %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                                            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                                        </svg>
                                        <span class="align-middle">Выделенные абонентские &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;номера</span>

                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="simplebar-placeholder" style="width: auto; height: 1254px;"></div>
        </div>
        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
            <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
        </div>
        <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
            <div class="simplebar-scrollbar"
                 style="height: 212px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
        </div>
    </div>
</nav>