<!-- templates/lkk/zayavka_new.html -->
{% extends 'lkk/menu.html' %}

{% block content %}


</div>
<div class="card-group">
  <div class="card">
    <div class="card-header">
       Подключение к электросетям
    </div>
    <div class="card-body">
      <h5 class="card-title"><i class="bi bi-wrench"></i> Технологическое присоединение</h5>
      <p class="card-text">Технологическое присоединение энергопринимающих устройств потребителей электрической энергии</p>
      <a href="{% url 'new_zayavka' pkk=0 %}" class="btn btn-primary">Подать заявку</a>
      <a href="{% url 'zayavki' %}" class="btn btn-secondary">Посмотреть заявки</a>
    </div>
  </div>
    <div class="card">
    <div class="card-header">
       Подключение к электросетям
    </div>
    <div class="card-body">
      <h5 class="card-title"><i class="bi bi-shuffle"></i> Перераспределение (снижение) мощности</h5>
      <p class="card-text">Перераспределение (снижение) мощности присоединенных энергопринимающих устройств</p>
      <a href="#" class="btn btn-primary">Подать заявку</a>
    </div>
  </div>
    <div class="card">
    <div class="card-header">
       Подключение к электросетям
    </div>
    <div class="card-body">
      <h5 class="card-title"><i class="bi bi-file-earmark-arrow-up"></i> Восстановление (переоформление) документов ТП</h5>
      <p class="card-text">Восстановление (переоформление) документов о технологическом присоединении</p>
      <a href="#" class="btn btn-primary">Подать заявку</a>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card">
    <div class="card-header">
       Потребление и учет электроэнергии
    </div>
    <div class="card-body">
      <h5 class="card-title"><i class="bi bi-mailbox"></i> Передать показания прибора учета электрической энергии</h5>
      <p class="card-text">Ввод потребителем текущих показаний приборов учета электрической энергии</p>
      <a href="#" class="btn btn-primary">Передать показания</a>
    </div>
  </div>
    <div class="card">
    <div class="card-header">
       Потребление и учет электроэнергии
    </div>
    <div class="card-body">
      <h5 class="card-title"><i class="bi bi-cone-striped"></i> Установка/замена/допуск в эксплуатацию прибора учета</h5>
      <p class="card-text">Заявки на установку, замену и (или) эксплуатацию приборов учета. Установка/замена прибора учета с 01.07.2020 по ФЗ-522.</p>
      <a href="#" class="btn btn-primary">Подать заявку</a>
    </div>
  </div>
    <div class="card">
    <div class="card-header">
       Направление обращений
    </div>
    <div class="card-body">
      <h5 class="card-title"><i class="bi bi-shield-fill-exclamation"></i> Сообщить о хищении, неучтенном потреблении электроэнергии</h5>
      <p class="card-text">Прием сообщений о бездоговорном (безучетном) потреблении электрической энергии, хищении объектов электросетевого хозяйства</p>
      <a href="#" class="btn btn-primary">Сообщить</a>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card">
    <div class="card-header">
       Потребление и учет электроэнергии
    </div>
    <div class="card-body">
      <h5 class="card-title"><i class="bi bi-skip-backward-circle"></i> Допуск в эксплуатацию прибора учета</h5>
      <p class="card-text">Заявка на осуществление допуска в эксплуатацию прибора учета</p>
      <a href="#" class="btn btn-primary">Подать заявку</a>
    </div>
  </div>
    <div class="card">
    <div class="card-header">
       Потребление и учет электроэнергии
    </div>
    <div class="card-body">
      <h5 class="card-title"><i class="bi bi-speedometer"></i> Снятие показаний существующего прибора учета</h5>
      <p class="card-text">Заявка о необходимости снятия показаний существующего прибора учета</p>
      <a href="#" class="btn btn-primary">Подать заявку</a>
    </div>
  </div>
    <div class="card">
    <div class="card-header">
       Потребление и учет электроэнергии
    </div>
    <div class="card-body">
      <h5 class="card-title"><i class="bi bi-tools"></i> Оборудование точки поставки приборами учета</h5>
      <p class="card-text">Заявление на оборудование точки поставки приборами учета</p>
      <a href="#" class="btn btn-primary">Подать заявку</a>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <div class="card-header">
       Направление обращений
    </div>
    <div class="card-body">
      <h5 class="card-title"><i class="bi bi-info-square"></i> Прием обращений от потребителя с запросом справочной информации и по вопросам консультации</h5>
      <p class="card-text">Прием обращений потребителей с запросом справочной информации, по вопросам консультации, предоставление ответа потребителю и запись потребителей на прием в офис обслуживания</p>
      <a href="#" class="btn btn-primary">Передать показания</a>
    </div>
  </div>
    <div class="card">
    <div class="card-header">
       Направление обращений
    </div>
    <div class="card-body">
      <h5 class="card-title"><i class="bi bi-exclamation-triangle-fill"></i> Прием жалоб потребителей</h5>
      <p class="card-text">Прием жалоб потребителей через интерактивные электронные формы и предоставление ответа потребителю</p>
      <a href="#" class="btn btn-primary">Подать заявку</a>
    </div>
  </div>
    <div class="card">
    <div class="card-header">
       Опросы
    </div>
    <div class="card-body">
      <h5 class="card-title"><i class="bi bi-trophy-fill"></i> Оценить качество оказываемых услуг сетевой организации и обслуживания потребителя</h5>
      <p class="card-text">Заполнение анкеты потребителя для опроса с целью оценки качества оказываемых услуг сетевой организации и обслуживания потребителя</p>
      <a href="#" class="btn btn-primary">Сообщить</a>
    </div>
  </div>
</div>
{% endblock content %}