<!-- templates/lkk/menu.html -->
{% extends 'main/base.html' %}

{% block menu %}

    <div class="row justify-content-start mt-3 mb-2">
        <div class="col-auto">
            <nav class="nav btn-group mt-auto">
                <a class="btn btn-outline-primary mr-1 my-1" href="{% url 'main_lk' %}">Личный кабинет</a>
                <a class="btn btn-outline-primary mr-1 my-1" href="{% url 'person' %}">Представители</a>
                <a class="btn btn-outline-primary mr-1 my-1" href="{% url 'adres' %}">Адреса</a>
                <a class="btn btn-outline-primary mr-1 my-1" href="{% url 'zayavitel' %}">Юридические лица</a>
                <a class="btn btn-outline-primary mr-1 my-1" href="#">Энергопринимающие устройства</a>
                <a class="btn btn-outline-primary mr-1 my-1" href="#">Заявки и обращения</a>
            </nav>
        </div>
    </div>

{% endblock menu %}
{% block content %}
{% endblock content %}