<!-- templates/lkk/zayavka_new.html -->
{% extends 'lkk/menu.html' %}

&nbsp;{% block content %}
<h2>Профиль {{ user }}</h2>
<h3>{{ title }}</h3>
<p><a href="{% url 'adres_edit' pkk=0 %}">
    <button type="button" class="btn btn-primary"><i class="bi bi-globe"></i> Добавить</button>
    </a>
</p>
<table class="table">
   <thead>
    <tr>
        <th>Индекс</th>
        <th>Регион</th>
        <th>Район</th>
        <th>Город</th>
        <th>Населенный пункт</th>
        <th>Улица</th>
        <th>Номер дома</th>
        <th>Квартира</th>
        <th>Примечание</th>
        <th>Изменить</th>
    </tr>
   </thead>
    <tbody>
    {% for item in adres%}
    <tr>
        <td>{{ item.adr_index }}</td>
        <td>{{ item.adr_region }}</td>
        <td>{{ item.adr_rayon }}</td>
        <td>{{ item.adr_gorod }}</td>
        <td>{{ item.adr_naselpunkt }}</td>
        <td>{{ item.adr_ulica }}</td>
        <td>{{ item.adr_homenum }}</td>
        <td>{{ item.adr_kvar }}</td>
        <td>{{ item.adr_primechanie }}</td>

        <td>
            <a href="{% url 'adres_edit' pkk=item.pk %}", title="Редактировать"><i class="bi bi-pencil-fill"></i></a>
            <a href="{% url 'adres_del' pkk=item.pk %}", title="Удалить"><i class="bi bi-trash"></i></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}
