<!-- templates/lkk/zayavka_new.html -->
{% extends 'lkk/menu.html' %}

&nbsp;{% block content %}

<h2>Профиль {{ user }}</h2>
<h3>{{ title }}</h3>
<p><a href="{% url 'new_zayavka' pkk=0 %}">
    <button type="button" class="btn btn-primary"><i class="bi bi-building"></i> Добавить</button>
    </a>
</p>
<table class="table">
   <thead>
    <tr>
        <th>Номер заявки <i class="bi bi-list-ol"></i></th>
        <th>Дата изменения <i class="bi bi-calendar4-event"></i></th>
        <th>Статус заявки <i class="bi bi-journal-check"></i></th>
        <th>Дата изменения статуса <i class="bi bi-calendar4-event"></i></th>
        <th>Действия <i class="bi bi-pencil"></i></i></th>

    </tr>
   </thead>
    <tbody>
    {% for item in zaya%}
    <tr>
        <td>{{ item.pk }}</td>
        <td>{{ item.created_date }}</td>
        <td>
            {% if item.status == 'save'  %}
            <i class="bi bi-save"></i>
            {% endif %}
            {% if item.status == 'nonf'  %}
            <i class="bi bi-file-earmark-text"></i>
            {% endif %}
            {% if item.status == 'send'  %}
            <i class="bi bi-hourglass-top"></i>
            {% endif %}
            {% if item.status == 'vrab'  %}
            <i class="bi bi-hourglass-split"></i>
            {% endif %}
            {% if item.status == 'edit'  %}
            <i class="bi bi-folder-symlink-fill"></i>
            {% endif %}
            {% if item.status == 'obr'  %}
            <i class="bi bi-file-earmark-text"></i>
            {% endif %}
            {% if item.status == 'dog'  %}
            <i class="bi bi-file-earmark-medical"></i>
            {% endif %}
            {% if item.status == 'wpot'  %}
            <i class="bi bi-journal-check"></i>
            {% endif %}
            {% if item.status == 'done'  %}
            <i class="bi bi-check2-all"></i>
            {% endif %}
            {% if item.status == 'canc'  %}
            <i class="bi bi-file-earmark-excel-fill"></i>
            {% endif %}
            {{ item.get_status_display }}
            {% if item.status == 'edit'  %}
            <h5>Замечания:</h5>
            {% autoescape off %}
            {{ item.status_error }}
            {% endautoescape %}
            {% endif %}
            {% if item.admin_comment  %}
            <h5>Комментарий сетевой организации:</h5>
            {% autoescape off %}
            {{ item.admin_comment }}
            {% endautoescape %}
            {% endif %}
            </p>
        </td>
        <td>{{ item.status_date }}</td>
        <td>
            {% if item.status == 'save' or item.status == 'edit' %}
            <a href="{% url 'new_zayavka' pkk=item.pk %}" title="Редактировать"><i class="bi bi-pencil-fill"></i></a>
            <a href="{% url 'zayavka_del' pkk=item.pk %}" title="Удалить"><i class="bi bi-trash"></i></i></a>
            <a href="{% url 'zayavka_send' pkk=item.pk %}" title="Отправить" class="btn btn-primary">Отправить <i class="bi bi-arrow-right-circle-fill"></i></a>
            {% endif %}
            {% if item.status == 'nonf' %}
            <a href="{% url 'new_zayavka' pkk=item.pk %}" title="Редактировать"><i class="bi bi-pencil-fill"></i></a>
            <a href="{% url 'zayavka_del' pkk=item.pk %}" title="Удалить"><i class="bi bi-trash"></i></i></a>
            <a href="{% url 'zayavka_create' pkk=item.pk %}" title="Сформировать заявку" class="btn btn-primary">Сформировать <i class="bi bi-arrow-return-right"></i></a>
            {% endif %}
            {% if item.status == 'save' or item.status == 'edit' or item.status == 'vrab' or item.status == 'send'%}
            <a href="{{ item.zaya_file.url }}" title="Скачть заявку"><i class="bi bi-box-arrow-down"></i> Заявка</a>
            {% endif %}
            {% if item.status == 'obr' or item.status == 'dog' or item.status == 'wpot' or item.status == 'done'%}
                {% if item.admin_file_doc %}
                    <a href="{{ item.admin_file_doc }}" title="Скачть договор технологического присоединения"><i class="bi bi-box-arrow-down"></i> Договор тех.присоединения</a>
                    <br>
                {% endif %}
                {% if item.admin_file_invoice %}
                    <a href="{{ item.admin_file_invoice }}" title="Скачть счет на оплату технологического присоединения"><i class="bi bi-box-arrow-down"></i> Счет на оплату</a>
                    <br>
                {% endif %}
                {% if item.admin_file_doceso %}
                    <a href="{{ item.admin_file_doceso }}" title="Скачть договор поставки электрической энергии"><i class="bi bi-box-arrow-down"></i> Договор энергоснабжения</a>
                    <br>
                {% endif %}
                {% if item.admin_file_aip %}
                    <a href="{{ item.admin_file_aip }}" title="Скачть акт допуска прибора учета в эксплуатацию"><i class="bi bi-box-arrow-down"></i> Ввод в эксплуатацию ПУ</a>
                    <br>
                {% endif %}
                {% if item.admin_file_akttp %}
                    <a href="{{ item.admin_file_akttp }}" title="Скачть акт надлежащего технологического присоединения"><i class="bi bi-box-arrow-down"></i> Акт тех.присоединения</a>
                    <br>
                {% endif %}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}
