<!-- templates/lkk/zayavka_new.html -->
{% extends 'lkk/menu.html' %}
{% load crispy_forms_tags %}

&nbsp;{% block content %}
<h2>Заявка на технологическое присоединение</h2>
{% for e in form.non_field_errors %}
  <div class="alert alert-danger"> {{ e }} </div>
{% endfor %}
{% if form.subject.errors %}
    <ol>
    {% for error in form.subject.errors %}
       <div class="alert alert-danger">{{ error|escape }}</div>
    {% endfor %}
    </ol>
{% endif %}
<form method="post" class="form-horizontal" enctype="multipart/form-data">
    {% csrf_token %}
    {% crispy form %}
  <br>
</form>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>

$(document).ready(function() {
    $('#id_prichina_obr').parent().hide();
    $('#div_id_prichina_obr > label').parent().hide();
    $('#id_vremenniy_tehpris').parent().hide();
    $('#div_id_vremenniy_tehpris > label').parent().hide();
    $('#id_vremenniy_tehpris_srok').parent().hide();
    $('#div_id_vremenniy_tehpris_srok > label').parent().hide();
    $('#id_name_so').parent().hide();
    $('#div_id_name_so > label').parent().hide();
    $('#id_dog_tehpris_num').parent().hide();
    $('#div_id_dog_tehpris_num > label').parent().hide();
    $('#id_dog_tehpris_date').parent().hide();
    $('#div_id_dog_tehpris_date > label').parent().hide();
    $('#id_dog_tehpris_file').parent().hide();
    $('#div_id_dog_tehpris_file > label').parent().hide();
    $('#div_id_mkd_vru').hide(100);
    $('#div_id_snt_spravka').hide(100);
    $('#div_id_snt_soglasie').hide(100);
    $('#div_id_gsk_spravka').hide(100);
    $('#div_id_soglasie_sobstvennikov').hide(100);
    $('#div_id_protivoavariynaya_avtomatica').hide(100);
    $('#div_id_mkd_soglasie').hide();
});

$('#id_tip_pris').change(function () {
      var optionSelected = $("option:selected", this);
      var valueSelected = $(this).val();

      if (valueSelected === 'VR') {
        $('#id_prichina_obr').parent().hide();
        $('#div_id_prichina_obr > label').parent().hide();
        $('#id_vremenniy_tehpris').parent().show();
        $('#div_id_vremenniy_tehpris > label').parent().show();
      } else if (valueSelected === 'PP') {
        $('#id_prichina_obr').parent().show();
        $('#div_id_prichina_obr > label').parent().show();
        $('#id_vremenniy_tehpris').parent().hide();
        $('#div_id_vremenniy_tehpris > label').parent().hide();
        $('#id_vremenniy_tehpris_srok').parent().hide();
        $('#div_id_vremenniy_tehpris_srok > label').parent().hide();
        $('#id_name_so').parent().hide();
        $('#div_id_name_so > label').parent().hide();
        $('#id_dog_tehpris_num').parent().hide();
        $('#div_id_dog_tehpris_num > label').parent().hide();
        $('#id_dog_tehpris_date').parent().hide();
        $('#div_id_dog_tehpris_date > label').parent().hide();
        $('#id_dog_tehpris_file').parent().hide();
        $('#div_id_dog_tehpris_file > label').parent().hide();
      } else {
        $('#id_prichina_obr').parent().hide();
        $('#div_id_prichina_obr > label').parent().hide();
        $('#id_vremenniy_tehpris').parent().hide();
        $('#div_id_vremenniy_tehpris > label').parent().hide();
        $('#id_vremenniy_tehpris_srok').parent().hide();
        $('#div_id_vremenniy_tehpris_srok > label').parent().hide();
        $('#id_name_so').parent().hide();
        $('#div_id_name_so > label').parent().hide();
        $('#id_dog_tehpris_num').parent().hide();
        $('#div_id_dog_tehpris_num > label').parent().hide();
        $('#id_dog_tehpris_date').parent().hide();
        $('#div_id_dog_tehpris_date > label').parent().hide();
        $('#id_dog_tehpris_file').parent().hide();
        $('#div_id_dog_tehpris_file > label').parent().hide();

      }
    });
$('#id_vremenniy_tehpris').change(function () {
      var optionSelected = $("option:selected", this);
      var valueSelected = $(this).val();

      if (valueSelected === 'ПВ') {
        $('#id_vremenniy_tehpris_srok').parent().hide();
        $('#div_id_vremenniy_tehpris_srok > label').parent().hide();
        $('#id_name_so').parent().show();
        $('#div_id_name_so > label').parent().show();
        $('#id_dog_tehpris_num').parent().show();
        $('#div_id_dog_tehpris_num > label').parent().show();
        $('#id_dog_tehpris_date').parent().show();
        $('#div_id_dog_tehpris_date > label').parent().show();
        $('#id_dog_tehpris_file').parent().show();
        $('#div_id_dog_tehpris_file > label').parent().show();

      } else if (valueSelected === 'ПО') {
        $('#id_vremenniy_tehpris_srok').parent().show();
        $('#div_id_vremenniy_tehpris_srok > label').parent().show();
        $('#id_name_so').parent().hide();
        $('#div_id_name_so > label').parent().hide();
        $('#id_dog_tehpris_num').parent().hide();
        $('#div_id_dog_tehpris_num > label').parent().hide();
        $('#id_dog_tehpris_date').parent().hide();
        $('#div_id_dog_tehpris_date > label').parent().hide();
        $('#id_dog_tehpris_file').parent().hide();
        $('#div_id_dog_tehpris_file > label').parent().hide();
      } else {
        $('#id_vremenniy_tehpris_srok').parent().hide();
        $('#div_id_vremenniy_tehpris_srok > label').parent().hide();
        $('#id_name_so').parent().hide();
        $('#div_id_name_so > label').parent().hide();
        $('#id_dog_tehpris_num').parent().hide();
        $('#div_id_dog_tehpris_num > label').parent().hide();
        $('#id_dog_tehpris_date').parent().hide();
        $('#div_id_dog_tehpris_date > label').parent().hide();
        $('#id_dog_tehpris_file').parent().hide();
        $('#div_id_dog_tehpris_file > label').parent().hide();

      }
    });
$('#id_mkd_vru').change(function () {
    var optionSelected = $("option:selected", this);
    var valueSelected = $(this).val();
    if (valueSelected === 'Нет') {
        $('#div_id_mkd_soglasie').show();
    } else {
        $('#div_id_mkd_soglasie').hide();
    }
});
$('#id_mkd').click(function(){
	if ($(this).is(':checked')){
		$('#div_id_mkd_vru').show(100);
	} else {
		$('#div_id_mkd_vru').hide(100);
	}
});

$('#id_snt').click(function(){
	if ($(this).is(':checked')){
		$('#div_id_snt_spravka').show(100);
		$('#div_id_snt_soglasie').show(100);
	} else {
		$('#div_id_snt_spravka').hide(100);
		$('#div_id_snt_soglasie').hide(100);
	}
});

$('#id_gsk').click(function(){
	if ($(this).is(':checked')){
		$('#div_id_gsk_spravka').show(100);
	} else {
		$('#div_id_gsk_spravka').hide(100);
	}
});

$('#id_sobstvennikov_neskolko').click(function(){
	if ($(this).is(':checked')){
		$('#div_id_soglasie_sobstvennikov').show(100);
	} else {
		$('#div_id_soglasie_sobstvennikov').hide(100);
	}
});

$('#id_protivoavariynaya_avtomatic').click(function(){
	if ($(this).is(':checked')){
		$('#div_id_protivoavariynaya_avtomatica').show(100);
	} else {
		$('#div_id_protivoavariynaya_avtomatica').hide(100);
	}
});



</script>
{% endblock content %}